#s-ed189394-b017-4d11-bfed-fef1de62976b > #backgroundBox {
  position: absolute;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 812.0px;
  max-height: 551.0px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Image_1 {
  position: absolute;
  width: 812.0px;
  height: 551.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_1 {
  position: absolute;
  width: 135.00000000000017px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.25pt;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  min-height: 11.25pt;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_1 .icon {
  top: 9.0px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 {
  position: absolute;
  width: 131.00000000000045px;
  height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 .valign {
  vertical-align: middle;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 input::-moz-placeholder {
  color: #82888C;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 input:-moz-placeholder {
  color: #82888C;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 {
  position: absolute;
  width: 131.00000000000045px;
  height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 .valign {
  vertical-align: middle;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ed189394-b017-4d11-bfed-fef1de62976b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}